<%= form_with(model: reconstruction, local: true, html: {class: "col s12 create_reconstruction"}) do |form| %>
  <% if reconstruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reconstruction.errors.count, "error") %> prohibited this reconstruction from being saved:</h2>

      <ul>
      <% reconstruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Algoritmo' %>
    <%= form.select(:algorithm, [['CGNE', '1'], ['FISTA', '2']]) %>
  </div>

  <div class="field">
    <%= form.label 'Sinal' %>
    <%= form.file_field :signal_file %>
  </div>

  <div class="field">
    <%= form.hidden_field :signal %>
  </div>

  <div class="field">
    <%= form.hidden_field :proc_signal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
