<h1>Reconstruções</h1>

<table>
  <thead>
    <tr>
      <th>Algoritmo</th>
      <th>Início da reconstrução</th>
      <th>Fim da reconstrução</th>
      <th>Tamanho da Imagem</th>
      <th>Iterações</th>
      <th>Sinal</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reconstructions.each do |reconstruction| %>
      <tr>
        <% if reconstruction.algorithm == 1 %>
          <td>CGNE</td>
        <% else %>
          <td>FISTA</td>
        <% end %>
        <td><%= reconstruction.rec_begin.strftime("%d/%m/%Y - %H:%M:%S") %></td>
        <td><%= reconstruction.rec_end.strftime("%d/%m/%Y - %H:%M:%S") if reconstruction.rec_end %></td>
        <td><%= reconstruction.size %></td>
        <td><%= reconstruction.iteractions %></td>
        <td><%= link_to reconstruction.signal_file.blob.filename.to_s, rails_blob_path(reconstruction.signal_file, disposition: 'attachment') %></td>
        <td><%= link_to reconstruction.img.blob.filename.to_s, rails_blob_path(reconstruction.img, disposition: 'attachment') if reconstruction.img.attached? %></td>
        <td><%= link_to 'Mostrar', reconstruction %></td>
        <td><%= link_to 'Deletar', reconstruction, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reconstruir um sinal', new_reconstruction_path %>
