<p>
  <strong>Algoritmo:</strong>
  <%= @reconstruction.algorithm %>
</p>

<p>
  <strong>Início da reconstrução:</strong>
  <%= @reconstruction.rec_begin %>
</p>

<p>
  <strong>Fim da reconstrução:</strong>
  <%= @reconstruction.rec_end %>
</p>

<p>
  <strong>Tamanho da Imagem:</strong>
  <%= @reconstruction.size %>
</p>

<p>
  <strong>Iterações:</strong>
  <%= @reconstruction.iteractions %>
</p>

<p>
  <strong>Sinal utilizado:</strong>
  <%= link_to @reconstruction.signal_file.blob.filename.to_s, rails_blob_path(@reconstruction.signal_file, disposition: 'attachment') %>
</p>

<p>
  <strong>Imagem reconstruida:</strong>
  <%= link_to @reconstruction.img.blob.filename.to_s, rails_blob_path(@reconstruction.img, disposition: 'attachment') if @reconstruction.img.attached? %>
</p>

<%= link_to 'Voltar', reconstructions_path %>
